@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
body {
    font-family: "Lato", sans-serif;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
[class*="__container"] {
    width: 810px;
    margin: 0 auto;
}
[class*="__title"] {
    color: #1e212c;
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
}
.header {
    margin-bottom: 60px;
}
.header__title {
    margin: 50px 0px 97px 0px;
}
[class*="__text"] {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
.main-text__slogan,
.main__caption {
    color: #1e212c;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.main-text__slogan {
    margin-bottom: 27px;
}
.main__text-1 {
    margin-bottom: 55px;
}
.main__caption {
    margin: 0px 0px 51px 58px;
}
.main__text-2 {
    margin-bottom: 28px;
}
.main__list {
    margin: 0px 0px 24px 32px;
}
.main__text-3{
    margin-bottom: 70px;
}
.footer{
    text-align: center;
}